body {
	background-image: url("image.JPEG");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 90em;
}
#site-header{
	background: rgb(37,141,200);
background: -moz-linear-gradient(top, rgba(37,141,200,1) 0%, rgba(249,255,251,1) 57%);
background: -webkit-linear-gradient(top, rgba(37,141,200,1) 0%,rgba(249,255,251,1) 57%);
background: linear-gradient(to bottom, rgba(37,141,200,1) 0%,rgba(249,255,251,1) 57%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#258dc8', endColorstr='#f9fffb',GradientType=0 );
	overflow: auto;
	border: 1px solid black;
}
#logo {
	width: 200px;
	height: 200px;
	float: left;
}
#main-heading {
	float: left;
	font-size: 5em;
	margin-left: 420px;
}
#side-navigation {
	float: left;
	width: 200px;
}
#Niki{
	float: left;
	padding-right: 0.5em;
}
main {
	padding-top: 0.5em;
}
main>aside {
	-webkit-box-shadow: 9px 9px 13px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: 9px 9px 13px -5px rgba(0,0,0,0.75);
	box-shadow: 9px 9px 13px -5px rgba(0,0,0,0.75);

	background: -moz-linear-gradient(top, rgba(30,87,153,1) 0%, rgba(73,206,33,0.69) 72%);
background: -webkit-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(73,206,33,0.69) 72%);
background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(73,206,33,0.69) 72%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#b049ce21',GradientType=0 );


-webkit-border-radius: 10px;
-webkit-border-top-right-radius: 100px;
-webkit-border-bottom-left-radius: 100px;
-moz-border-radius: 10px;
-moz-border-radius-topright: 100px;
-moz-border-radius-bottomleft: 100px;
border-radius: 10px;
border-top-right-radius: 100px;
border-bottom-left-radius: 100px;

	border: 1px solid grey;
	margin-top: 1em; 
	padding-bottom: 1em;
}
main>section {
	margin-top: 1em;
	padding-left: 1em;

	border: 1px solid grey;

	background: rgb(37,141,200);
background: -moz-linear-gradient(top, rgba(37,141,200,1) 0%, rgba(249,255,251,1) 57%);
background: -webkit-linear-gradient(top, rgba(37,141,200,1) 0%,rgba(249,255,251,1) 57%);
background: linear-gradient(to bottom, rgba(37,141,200,1) 0%,rgba(249,255,251,1) 57%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#258dc8', endColorstr='#f9fffb',GradientType=0 );
	-webkit-box-shadow: 9px 9px 13px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: 9px 9px 13px -5px rgba(0,0,0,0.75);
	box-shadow: 9px 9px 13px -5px rgba(0,0,0,0.75);
}
main>section, main>hr {
	margin-left: 210px;
}

hr {
	display: none;
}

hr:last-child {
	display: block;
	margin-left: 0px;
}
main>section>article {
	overflow: auto;
}