

body{text-align: center; width: 500%;
                height: 500%;}
body{font-family: monospace;}
table,td,tr{border:2px solid black;background-color:background: rgb(53,106,160);
	background: -moz-linear-gradient(top,  rgba(53,106,160,1) 0%, rgba(53,106,160,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(53,106,160,1) 0%,rgba(53,106,160,1) 100%);
	background: linear-gradient(to bottom,  rgba(53,106,160,1) 0%,rgba(53,106,160,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#356aa0', endColorstr='#356aa0',GradientType=0 );
}
#screen{padding-top: 47px}
.num
{
	background-color: background: rgb(206,220,231);
	background: -moz-linear-gradient(top,  rgba(206,220,231,1) 0%, rgba(89,106,114,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%);
	background: linear-gradient(to bottom,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72',GradientType=0 );padding: 0
}
.symbol{background: rgb(243,197,189);
		background: -moz-linear-gradient(top,  rgba(243,197,189,1) 0%, rgba(234,40,3,1) 23%, rgba(234,40,3,1) 23%, rgba(255,102,0,1) 75%, rgba(199,34,0,1) 100%);
		background: -webkit-linear-gradient(top,  rgba(243,197,189,1) 0%,rgba(234,40,3,1) 23%,rgba(234,40,3,1) 23%,rgba(255,102,0,1) 75%,rgba(199,34,0,1) 100%);
		background: linear-gradient(to bottom,  rgba(243,197,189,1) 0%,rgba(234,40,3,1) 23%,rgba(234,40,3,1) 23%,rgba(255,102,0,1) 75%,rgba(199,34,0,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3c5bd', endColorstr='#c72200',GradientType=0 );
}
#screen{background-color: background: rgb(174,188,191);
	background: -moz-linear-gradient(top,  rgba(174,188,191,1) 0%, rgba(110,119,116,1) 25%, rgba(10,14,10,1) 75%, rgba(10,8,9,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(174,188,191,1) 0%,rgba(110,119,116,1) 25%,rgba(10,14,10,1) 75%,rgba(10,8,9,1) 100%);
	background: linear-gradient(to bottom,  rgba(174,188,191,1) 0%,rgba(110,119,116,1) 25%,rgba(10,14,10,1) 75%,rgba(10,8,9,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aebcbf', endColorstr='#0a0809',GradientType=0 );
	}
	th{background-color: gray}
button:hover
{
	color: yellow
}
button{background-color: rgba(1,1,1,0); padding: 10}
td{padding: 0}
button{width: 36px;height: 23px}
#O{width: 78px}
#equal{height: 52px}