body{
	background-image: url(draw.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;

}
#information-section{
	-webkit-border-radius: 55px;
-moz-border-radius: 55px;
border-radius: 55px;

	padding: 20px 25px 30px 15px;
	border: 3px solid white-blue;
	font-family: Verdana, Geneva, sans-serif;
	margin-bottom: 5px;
	margin-right: 30em;
	margin-left: 30em;
	padding-left: 30px;	
background: rgb(255,255,255);
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 18%, rgba(0,160,0,1) 46%, rgba(0,160,0,1) 49%, rgba(204,0,0,1) 77%, rgba(204,0,0,1) 77%, rgba(204,0,0,1) 77%);
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 18%,rgba(0,160,0,1) 46%,rgba(0,160,0,1) 49%,rgba(204,0,0,1) 77%,rgba(204,0,0,1) 77%,rgba(204,0,0,1) 77%);
background: linear-gradient(to bottom,  rgba(255,255,255,1) 18%,rgba(0,160,0,1) 46%,rgba(0,160,0,1) 49%,rgba(204,0,0,1) 77%,rgba(204,0,0,1) 77%,rgba(204,0,0,1) 77%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cc0000',GradientType=0 );


}
#side-nav{
     border: 2px solid white;
     font-size: 20px;
     float: right;
     margin-top: 4em;
	margin-right: 2em;
	padding-right: 5px;
	-webkit-border-radius: 150px;
-moz-border-radius: 150px;
border-radius: 150px;
background: rgb(255,255,255);
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 18%, rgba(0,160,0,1) 46%, rgba(0,160,0,1) 49%, rgba(204,0,0,1) 77%, rgba(204,0,0,1) 77%, rgba(204,0,0,1) 77%);
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 18%,rgba(0,160,0,1) 46%,rgba(0,160,0,1) 49%,rgba(204,0,0,1) 77%,rgba(204,0,0,1) 77%,rgba(204,0,0,1) 77%);
background: linear-gradient(to bottom,  rgba(255,255,255,1) 18%,rgba(0,160,0,1) 46%,rgba(0,160,0,1) 49%,rgba(204,0,0,1) 77%,rgba(204,0,0,1) 77%,rgba(204,0,0,1) 77%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cc0000',GradientType=0 );
-webkit-box-shadow: 10px 10px 57px 14px rgba(0,0,0,1);
-moz-box-shadow: 10px 10px 57px 14px rgba(0,0,0,1);
box-shadow: 10px 10px 57px 14px rgba(0,0,0,1);

	
}

#side-nav a:hover{
	background-color: orange; 
}
#side-nav a:visited{
     
	color: black;

}

img{
	float: left;
	padding-top: 20px;
	padding-right: 10px;

	

}

#header-CV{
	text-align: center;
	font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
	font-size: 30px;
	padding-right: 40px;
	color: blue;
	background-color: blue;
	border:3px solid white-blue;
	padding-top:0px;
	background: rgb(255,255,255);
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 18%, rgba(0,160,0,1) 46%, rgba(0,160,0,1) 49%, rgba(204,0,0,1) 77%, rgba(204,0,0,1) 77%, rgba(204,0,0,1) 77%);
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 18%,rgba(0,160,0,1) 46%,rgba(0,160,0,1) 49%,rgba(204,0,0,1) 77%,rgba(204,0,0,1) 77%,rgba(204,0,0,1) 77%);
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 18%,rgba(0,160,0,1) 46%,rgba(0,160,0,1) 49%,rgba(204,0,0,1) 77%,rgba(204,0,0,1) 77%,rgba(204,0,0,1) 77%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cc0000',GradientType=0 );



}
#top-navigation a:hover{
	color: black;
	background-color: yellow;
}


#top-navigation a:visited{
	color: black;

}
#top-navigation{
	padding-top: 7px;
}
#phone-logo{
	padding-top: 0px;
	padding-left: 2px;
}
#mail-logo{
	padding-top: 3px;
	padding-bottom: 5px;
}
#Education-section{
	font-family: Arial Black, Gadget, sans-serif;
	border: 2px solid white-blue;
	font-size: 1.5em;
background: rgb(255,255,255);
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 18%, rgba(0,160,0,1) 46%, rgba(0,160,0,1) 49%, rgba(204,0,0,1) 77%, rgba(204,0,0,1) 77%, rgba(204,0,0,1) 77%);
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 18%,rgba(0,160,0,1) 46%,rgba(0,160,0,1) 49%,rgba(204,0,0,1) 77%,rgba(204,0,0,1) 77%,rgba(204,0,0,1) 77%);
background: linear-gradient(to bottom,  rgba(255,255,255,1) 18%,rgba(0,160,0,1) 46%,rgba(0,160,0,1) 49%,rgba(204,0,0,1) 77%,rgba(204,0,0,1) 77%,rgba(204,0,0,1) 77%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cc0000',GradientType=0 );

    -webkit-border-radius: 80px;
     -webkit-border-top-right-radius: 22px;
     -webkit-border-bottom-right-radius: 22px;
     -moz-border-radius: 80px;
    -moz-border-radius-topright: 22px;
      -moz-border-radius-bottomright: 22px;
       border-radius: 80px;
      border-top-right-radius: 22px;
     border-bottom-right-radius: 22px;
     margin-left: 19.7em;
     padding-left: 50px;
     margin-bottom: 5px;


}
#personal-skills-section{
	font-family: Arial Black, Gadget, sans-serif;
	
	font-size: 1.5em;
    font-size: 1.5em;
background: rgb(255,255,255);
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 18%, rgba(0,160,0,1) 46%, rgba(0,160,0,1) 49%, rgba(204,0,0,1) 77%, rgba(204,0,0,1) 77%, rgba(204,0,0,1) 77%);
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 18%,rgba(0,160,0,1) 46%,rgba(0,160,0,1) 49%,rgba(204,0,0,1) 77%,rgba(204,0,0,1) 77%,rgba(204,0,0,1) 77%);
background: linear-gradient(to bottom,  rgba(255,255,255,1) 18%,rgba(0,160,0,1) 46%,rgba(0,160,0,1) 49%,rgba(204,0,0,1) 77%,rgba(204,0,0,1) 77%,rgba(204,0,0,1) 77%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cc0000',GradientType=0 );

    -webkit-border-radius: 80px;
     -webkit-border-top-right-radius: 22px;
     -webkit-border-bottom-right-radius: 22px;
     -moz-border-radius: 80px;
    -moz-border-radius-topright: 22px;
      -moz-border-radius-bottomright: 22px;
       border-radius: 80px;
      border-top-right-radius: 22px;
     border-bottom-right-radius: 22px;
     margin-left: 19.7em;
     padding-left: 50px
}
section>aside{
	float: right;
	padding-left: 5px;
	padding-right: 20px;

	

		margin-right: 1px;
		-webkit-border-radius: 2px;
	-webkit-border-top-right-radius: 100px;
	-webkit-border-bottom-right-radius: 100px;
	-moz-border-radius: 2px;
	-moz-border-radius-topright: 100px;
	-moz-border-radius-bottomright: 100px;
	border-radius: 2px;
	border-top-right-radius: 100px;
	border-bottom-right-radius: 100px;
	background: rgb(255,255,255);
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 18%, rgba(0,160,0,1) 46%, rgba(0,160,0,1) 49%, rgba(204,0,0,1) 77%, rgba(204,0,0,1) 77%, rgba(204,0,0,1) 77%);
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 18%,rgba(0,160,0,1) 46%,rgba(0,160,0,1) 49%,rgba(204,0,0,1) 77%,rgba(204,0,0,1) 77%,rgba(204,0,0,1) 77%);
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 18%,rgba(0,160,0,1) 46%,rgba(0,160,0,1) 49%,rgba(204,0,0,1) 77%,rgba(204,0,0,1) 77%,rgba(204,0,0,1) 77%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cc0000',GradientType=0 );


}