body {
	margin-left: 5%;
}

table {
	/*radius*/
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-right: 20px;
	/*shadow*/
	-webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.75);
	box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.75);
	border-spacing: 5px;
	margin-bottom: 20px;

}

h1 {
	font-family: serif;
	clear: both;
}

th {
	border: 1px solid black;
	-webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.75);
	box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.75);
	padding: 5px;
}

td {
	height: 50px;
	width: 50px;
	text-align: center;
	border: 1px solid black;
	-webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.75);
	box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.75);
	padding: 5px;
	/*gradient*/
	background: rgb(252,252,252);
	background: -moz-linear-gradient(top,  rgba(252,252,252,1) 0%, rgba(234,234,234,1) 52%, rgba(252,252,252,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(252,252,252,1) 0%,rgba(234,234,234,1) 52%,rgba(252,252,252,1) 100%);
	background: linear-gradient(to bottom,  rgba(252,252,252,1) 0%,rgba(234,234,234,1) 52%,rgba(252,252,252,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#fcfcfc',GradientType=0 );

}

.operator-and, .operator-or{
	float:left;	
}

.operator-and .tab-heading {
	/*gradient*/
	background: rgb(233,246,253);
	background: -moz-linear-gradient(top,  rgba(233,246,253,1) 0%, rgba(240,249,172,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(233,246,253,1) 0%,rgba(240,249,172,1) 100%);
	background: linear-gradient(to bottom,  rgba(233,246,253,1) 0%,rgba(240,249,172,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9f6fd', endColorstr='#f0f9ac',GradientType=0 );
}

.operator-or .tab-heading{
	/*gradient*/
	background: rgb(233,246,253);
	background: -moz-linear-gradient(top,  rgba(233,246,253,1) 0%, rgba(196,239,197,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(233,246,253,1) 0%,rgba(196,239,197,1) 100%);
	background: linear-gradient(to bottom,  rgba(233,246,253,1) 0%,rgba(196,239,197,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9f6fd', endColorstr='#c4efc5',GradientType=0 );
}

.operator-not .tab-heading{
	/*gradient*/
	background: rgb(233,246,253);
	background: -moz-linear-gradient(top,  rgba(233,246,253,1) 0%, rgba(252,209,209,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(233,246,253,1) 0%,rgba(252,209,209,1) 100%);
	background: linear-gradient(to bottom,  rgba(233,246,253,1) 0%,rgba(252,209,209,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9f6fd', endColorstr='#fcd1d1',GradientType=0 );

}

.tab-heading {
	/*radius*/
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}