

table{
	border: 2px solid black;
	border-collapse: separate;
    border-spacing: 20px 40px;
}

td{
	border: 3px dashed black;
	border-radius: 50%;
	text-align: center;
	width: 80px;

}

td:hover{
	border: 3px solid black;
	

}

td:active{

	background-color: black;
	color: white;

}


textarea{
	border: 3px solid black;
	width: 100%;
	height: 5em;
	

}

#text{
	border:none;
}