body {
	background-image: url("index.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	float: left;
	


}
form{
	width: 100px;
	height: 150px;
}
#photo {
	width: 150px;
	height: 50px;

	
}


