body {
	background: #ebe9f9; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #ebe9f9 0%, #d8d0ef 50%, #cec7ec 75%, #c1bfea 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg,  #ebe9f9 0%,#d8d0ef 50%,#cec7ec 75%,#c1bfea 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg,  #ebe9f9 0%,#d8d0ef 50%,#cec7ec 75%,#c1bfea 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebe9f9', endColorstr='#c1bfea',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	font-family: arial, verdana, sans-serif;

	background-image: url(background-image.jpg);
	background-size: 100%;

}

caption {
	font-size: 1.5em;
	color: white;
}

table {
	width: 100%;
	height: 500px;
	text-align: center;

}

th, td {
	font-size: 1.2em;
	border: 1px solid black;

}

th, .width {
	width: 33%;
	color: white;
}

th, .more-width {
	width: 50%;
	color: white;
}

td:hover {
	-webkit-box-shadow: 16px 14px 15px -7px rgba(5,1,115,0.75);
	-moz-box-shadow: 16px 14px 15px -7px rgba(5,1,115,0.75);
	box-shadow: 16px 14px 15px -7px rgba(5,1,115,0.75);

	color: white;
}

